.App {
  text-align: center;
}
.App-header {
  background-color: #D2DFBA;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255); 
}
.img-banner {
  /* margin-left: -890px; */
  height: 300px;
}
.App-link {
  color: #61dafb;
}
.welcome-image {
  background-image: url('./Images/MissionStatement.png');
  background-size: 1300px; 
  background-repeat: no-repeat;
  height: 800px;
  background-color: #ffffff;
}
.welcomePage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.about-image {
  background-image: url('./Images/AboutUsBIG.png');
  background-size: 1300px; 
  background-repeat: no-repeat;
  height: 800px;
  background-color: #EBE8DD;
}
.comments-bg {
  background-image: url('./Images/AnimalContainerBG.png');
  background-size: 1500px; 
  background-repeat: no-repeat;
  height: 800px;
  background-color: #EBE8DD;

}
.animal-container {
  background-image: url('./Images/AnimalContainerBG.png');
  background-size: 1500px; 
  background-repeat: no-repeat;
  height: 1500px;
  background-color: #ffffff;
}
.card {
  font-family: 'Livvic', sans-serif;
  font-size: 100% ;
  display: inline-block;
  border: 3px solid #484545;
  border-style: dotted;
  border-radius: 10px;
  background-image: url('./Images/AdoptMeBG.png');
  background-size: 415px;
  background-repeat: no-repeat;
  background-color: #ffffff;
  padding:1rem;
  width:310px;
  height:420px;
  margin-bottom: 20px;
  margin:10px;
  /* box-shadow: 0 8px 16px 0 #D2DFBA, 0 6px 20px 0 #D2DFBA; */
}
.card img {
  width:12em;
  height:10em;
}
.card-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.comment-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
  width: 900px;
  margin: auto;
}
.comments-form {
  margin-top: 20px;
  background: #EBEADF;
  color: #ffffff;
  width: 900px;
  margin: auto;
  position: relative;
}
.one-commment-display {
  margin-bottom: 15px;
  font-size: large;
}
.bttn-card {
  background-color: #8C5B3E;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 15px;
  margin-right: -150px;
  transition-duration: 0.4s;
}
.bttn-card:hover {
  color: white;
}
.comment-input-box {
  height: 80px;
  width: 300px;
  padding: 10px;
  margin-bottom: 15px;
}
.comment-display {
  border: 1px solid;
  padding: 15px;
  margin: 20px;
}
.leave-comment {
  padding: 15px;
  font-family: 'Livvic', sans-serif;
}

.delete-bttn {
  background-color: #8C5B3E;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 15px;
}
.edit-bttn {
  background-color: #8C5B3E;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.edit-comment-input {
  margin: 20px;
  width: 350px;
  padding: 15px;
  border: 1px solid;
  /* display: inline-block;
  margin-top: 350px; */
}
.save-button {
  background-color: #8C5B3E;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 15px;
  height: 35.88px;
}
.new-adopters-form {
  font-family: 'Avenir', cursive;
  margin: 20px;
  width: 350px;
  padding: 15px;
  border: 1px solid;
  display: inline-block;
  margin-top: 350px;
  /* position: absolute;
  transform: translate(-50%, -50%);
  top:40%;
  left: 50%; */
}
.name-holder {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.email-holder {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.phone-holder {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.interested-adopt {
  background-image: url('./Images/InterestedAdopt.png');
  background-size: 1300px; 
  background-repeat: no-repeat;
  height: 900px;
  background-color: #EBE8DD;
  /* background-position: center;
  position: relative; */
}
.adopter-bttn {
  background-color: #757A7A;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.home-link {
  font-family: 'Livvic', sans-serif;
  font-size: 120%;
}
.available-pets-link {
  font-family: 'Livvic', sans-serif;
  font-size: 120%;
}
.adopters-link {
  font-family: 'Livvic', sans-serif;
  font-size: 120%;
}
.comments-link {
  font-family: 'Livvic', sans-serif;
  font-size: 120%;
}
.about-link {
  font-family: 'Livvic', sans-serif;
  font-size: 120%;
}
.navlinks li {
  margin-bottom: 50px;
  padding: 15px;
  border: 2px solid;
  text-decoration: none;
}
/* .footer-distributed {
  background-color: #EBE8DD;
  border-top:2px solid #757A7A;
  position: fixed;
  height: 500px;
  width: 100%;
  bottom: 0;
  color: white;
  font-size: 25px;
} */
/* ------------------------ */
.footer-distributed{
	background: #EBE8DD;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
  height: 260px;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font-family: 'Livvic', sans-serif;;
  font-size: 36px;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #503F0C;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #503F0C;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #503F0C;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #503F0C;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #503F0C;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #503F0C;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #503F0C;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #503F0C;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}