/* * {
  padding: 0;
  margin:0;
} */

.App {
  text-align: center;
}
.App-header {
  background-color: #D2DFBA;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255); 
}
.img-banner {
  /* margin-left: -890px; */
  height: 300px;
}
.App-link {
  color: #61dafb;
}
.welcome-image {
  background-image: url('./Images/MissionStatement.png');
  background-size: 1300px; 
  background-repeat: no-repeat;
  height: 1000px;
  background-color: #D2DFBA;
}
.welcomePage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.about-image {
  background-image: url('./Images/AboutUsBIG.png');
  background-size: 1300px; 
  background-repeat: no-repeat;
  height: 1000px;
  background-color: #EBE8DD;
}
.card {
  font-family: 'Livvic', sans-serif;
  font-size: 100% ;
  display: inline-block;
  border: 3px solid #484545;
  border-style: dotted;
  border-radius: 10px;
  background-image: url('./Images/AdoptMeBG.png');
  background-size: 415px;
  background-repeat: no-repeat;
  background-color: #EBE8DD;
  padding:1rem;
  width:310px;
  height:420px;
  margin-bottom: 20px;
  margin:10px;
  /* box-shadow: 0 8px 16px 0 #D2DFBA, 0 6px 20px 0 #D2DFBA; */
}
.card img {
  width:12em;
  height:10em;
}
.card-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.comment-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.comments-form {
  margin-top: 20px;
  background: #EBEADF;
  color: white;
  width: 900px;
  margin: auto;
}
.bttn-card {
  background-color: #8C5B3E;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 15px;
  margin-right: -150px;
  transition-duration: 0.4s;
}
.bttn-card:hover {
  color: white;
}
.comment-input-box {
  height: 80px;
  width: 300px;
  padding: 10px;
  margin-bottom: 15px;
}
.comment-display {
  border: 1px solid;
  padding: 15px;
}

.delete-bttn {
  background-color: #8C5B3E;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.edit-bttn {
  background-color: #8C5B3E;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.new-adopters-form {
  font-family: 'Avenir', cursive;
  margin: 20px;
  width: 350px;
  padding: 15px;
  border: 1px solid;
  display: inline-block;
  margin-top: 350px;
}
.name-holder {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.email-holder {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.phone-holder {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.interested-adopt {
  background-image: url('./Images/InterestedAdopt.png');
  background-size: 1300px; 
  background-repeat: no-repeat;
  height: 1000px;
  background-color: #EBE8DD;
}
.adopter-bttn {
  background-color: #757A7A;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.home-link {
  font-family: 'Livvic', sans-serif;
  font-size: 120%;
}
.available-pets-link {
  font-family: 'Livvic', sans-serif;
  font-size: 120%;
}
.adopters-link {
  font-family: 'Livvic', sans-serif;
  font-size: 120%;
}
.comments-link {
  font-family: 'Livvic', sans-serif;
  font-size: 120%;
}
.about-link {
  font-family: 'Livvic', sans-serif;
  font-size: 120%;
}