/* * {
  padding: 0;
  margin:0;
} */

.App {
  text-align: center;
}
.App-header {
  background-color: #D2DFBA;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255); 
}
.img-banner {
  /* margin-left: -890px; */
  height: 300px;
}
.App-link {
  color: #61dafb;
}
.welcome-image {
  height: 400px;
  width: 1200px;
  margin-left: -300px;
}
.welcomePage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.about-image {
  height: 400px;
  width: 1200px;
  margin-left: -300px;
}
.card {
  font-family: 'Avenir', cursive;
  font-size: 110% ;
  display: inline-block;
  border: 4px solid #484545;
  border-style: dotted;
  border-radius: 25px;
  background-image: url('./Images/AnimalCardBackground.png');
  background-color: #D2DFBA;
  padding:1rem;
  width:300px;
  height:400px;
  margin-bottom: 20px;
  margin:10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.card img {
  width:9em;
  height:9em;
}
.card-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.comment-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.comments-form {
  margin-top: 20px;
  background: #EBEADF;
  color: white;
  width: 900px;
  margin: auto;
}
.bttn-card {
  background-color: #8C5B3E;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 15px;
  margin-right: -150px;
  transition-duration: 0.4s;
}
.bttn-card:hover {
  color: white;
}
.comment-input-box {
  height: 80px;
  width: 300px;
  padding: 10px;
  margin-bottom: 15px;
}
.comment-display {
  border: 1px solid;
  padding: 15px;
}

.delete-bttn {
  background-color: #8C5B3E;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.new-adopters-form {
  font-family: 'Avenir', cursive;
  margin: 20px;
  width: 350px;
  padding: 15px;
  border: 1px solid;
}

.interested-adopt {
  background-image: url('./Images/InterestedAdopt.png');
  background-size: 1300px; 
  background-repeat: no-repeat;
  height: 800px;
}
.adopter-bttn {
  background-color: #757A7A;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}